body {
  margin: 0;
}

#csprclick-ui-wrapper {
  background-color: rgb(24, 29, 64);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.dark #csprclick-ui-wrapper {
  background-color: rgb(19, 25, 51);
}

#csprclick-ui {
  max-width: 1024px;
  margin: auto;

  @media (max-width: 1024px) {
    padding: 0 12px;
  }
}

#csprclick-top-bar > div {
  padding: 0 12px;
  max-width: 1024px;
  margin: auto;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #181d40;
}
