
@import url('https://fonts.cdnfonts.com/css/inter');

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
        format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

body {
  margin: 0px;
}
  
#csprclick-top-bar {
  background-color: rgb(24, 29, 64);;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.dark #csprclick-top-bar {
  background-color: rgb(19, 25, 51);;
}

#csprclick-top-bar section {
  padding: 0 12px;
  max-width: 1024px;
  margin: auto;
}

#content {
  max-width: 1024px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
}

.dark #content {
  background-color: #0F1429;
}

#events {
  margin-top: 12px;
  font-family: 'JetBrains Mono';
  line-height: 1.5;
  overflow-x: scroll;
}

.dark #events {
  color: #d0d0d0;
}