
body {
  margin: 0px;
}

#csprclick-ui-wrapper {
  background-color: rgb(24, 29, 64);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

.dark #csprclick-ui-wrapper {
  background-color: rgb(19, 25, 51);
}

#csprclick-ui {
  max-width: 1024px;
  margin: auto;
}

#csprclick-top-bar > div {
  padding: 0 12px;
  max-width: 1024px;
  margin: auto;
}

#content {
  max-width: 1024px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
}

#events {
  margin-top: 12px;
  font-family: 'JetBrains Mono';
  line-height: 1.5;
  overflow-x: scroll;
}
